<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>FAST FARMACY HOME</title>
</head>
<body>
  

    
    <div class="head">
        <div class="logo">
            <a href="#">FAST FARMACY</a>
        </div>
        <nav class="navbar">

            <a href="/Usuario/MultiIndex">USUARIO </a>
            <a href="/Medicamento/Index">MEDICAMENTOS</a>
            <a href="/Cliente/Index">CLIENTE</a>
            <a href="/Direccion/MultiIndex">DIRECCION</a>
            <a href="/Empleado/MultiIndex">EMPLEADO</a>
            <a href="/Proveedor/MultiIndex">PROVEDORES</a>
            <a href="/DetallesVenta/MultiIndex">DETALLE VENTAS</a>
        </nav>
        <div class="figure">
            <center><img src="img/Logo.jpg" width="375" /></center>
        </div>
    </div>
    <header class="content header">
        <h2 class="title"></h2>

        <div class="btn-home">
   
        </div>
    </header>

    <section class="content sau">
        </div>

    </section>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</body>
</html>