@model SucursalModel
@{
    ViewData["Title"] = "Información de la sucursal";
}
<h1>Sucursal</h1>
<h2>Id:@Model.Id </h2>
<h2>Ubicacion:@Model.Ubicacion </h2>
<address>
        <p><strong>Ruc: @Model.Ruc </strong></p>
    <p><strong>IdDireccion: @Model.IdDireccion </strong></p>
    <p><strong>IdEmpleado: @Model.IdEmpleado </strong></p>
    <p><strong>FechaCreacion: @Model.FechaCreacion </strong></p>


    </address>

