@model VentaModel
@{
    ViewData["Title"] = "Información Venta";
}
<h1>Venta</h1>
<h2>Id:@Model.Id </h2>
<h2>Fecha:@Model.Fecha </h2>
<address>
    <p><strong>IdCliente: @Model.IdCliente </strong></p>
    <p><strong>FechaCreacion: @Model.FechaCreacion </strong></p>


    </address>

