@model UsuarioModel
@{
    ViewData["Title"] = "Información del Usuario";
}
<h1>Usuario</h1>
<h2>Id:@Model.Id </h2>
<h2>Nombre:@Model.Nombre </h2>
<address>
    <p><strong>Ruc: @Model.Clave </strong></p>
    <p><strong>IdEmpleado: @Model.IdEmpleado </strong></p>
    <p><strong>FechaCreacion: @Model.FechaCreacion </strong></p>


    </address>

